.svn
*.bak
*.ftl
*.png
*.jar
*.css
*.acp
*.json
*.xml
!alfresco/sv_se/*.xml
!alfresco/sv_se/omegat/*.xml
*.js
!alfresco/sv_se/resources/tiny_mce/*.js
!alfresco/sv_se/resources/tiny_mce/*/*.js
!alfresco/sv_se/resources/tiny_mce/*/*/*.js
!alfresco/sv_se/resources/tiny_mce/*/*/*/*.js
!alfresco/sv_se/resources/tiny_mce/*/*/*/*/*.js
*.inc
README.txt
COPYING.txt
MAINTAINERS.txt
LICENSE.*
_translationstatus.txt
*_de.properties
*_DE.properties
*_es.properties
*_ES.properties
*_fr.properties
*_FR.properties
*_it.properties
*_IT.properties
*_IT.get.properties
*_ja.properties
*_JA.properties
*_ru.properties
*_RU.properties
*_us.properties
*_US.properties
*_nl.properties
*_NL.properties
*build.properties
*module.properties
*log4j.properties
*alfresco-global.properties
*file-mapping.properties
.DS_Store
build/
alfresco/sv_se/target/**
!alfresco/sv_se/target/.empty
!alfresco/sv_se/resources/**
alfresco/sv_se/omegat/project_stats.txt
alfresco/sv_se/sv_se-level1.tmx
alfresco/sv_se/sv_se-level2.tmx
alfresco/sv_se/sv_se-omegat.tmx
